@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    
}

.box{
    display: block;
    width: 80%;
    padding: 10px;
    margin: auto;
    border-radius: 5px;
    background-color: #E6E2DD;
    color: #3a3a39;
    margin-top: 40%;
    box-shadow: 0 18px 36px rgba(0,0,0,0.30), 0 14px 11px rgba(0,0,0,0.20);
    
}
form h2{
    width: 100%;
    
    background-color:#D48166 ;
    text-align: center;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px;
}
form button{
    background-color: #373A36;
    color:#E6E2DD ;
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    border: none;
    outline: none;
}
@media only screen  and (min-width: 992px){
    .box{
        display: block;
        width: 30%;
        padding: 15px;
        margin: auto;
        
        border-radius: 5px;
        background-color: #E6E2DD;
        color: #3a3a39;
        margin-top: 10%;
        box-shadow: 0 18px 36px rgba(0,0,0,0.30), 0 14px 11px rgba(0,0,0,0.20);
        
    }

}